/* App.css */
.App {
  text-align: center;
}

.App-header {
  padding: 20px;
  background-color: #002366;
  color: white;
}

.brand-color {
  background: "#002366"
}

.logo {
  width: 150px;
  height: auto;
}

.fields-container {
  margin-top: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.add-button-container {
  margin-top: 20px;
}

.repeated-fields-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.field {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.navigation {
  margin-left: auto;
  padding: 0;
}

.navigation li {
  display: inline;
  margin: 0;
}

.navigation a {
  color: white;
  text-decoration: none;
  padding: 10px;
}

.navigation a:hover {
  text-decoration: underline;
}

